# Ignore everything in target except the final JAR
target/*
!target/smarttask-0.0.1-SNAPSHOT.jar



# Ignore Maven wrapper binaries
.mvn/
!mvnw
!mvnw.cmd

# Ignore IDE and build system metadata
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.springBeans
.sts4-cache
.apt_generated

# Ignore VS Code settings
.vscode/

# Ignore NetBeans files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Ignore application properties if sensitive
src/main/resources/application.properties

# Ignore log files
*.log

# Ignore temp and OS-specific files
*.tmp
*.bak
.DS_Store
Thumbs.db

# Ignore .env with secrets
.env

# Ignore Docker override or backups
docker-compose.override.yml

# Ignore any editor temp files
*.swp
*.swo
